body{
  background-color:#621E67;
}
.toppart{
  font-size:10px;
}
a.toppart{
  color: #c7b6c8;
  text-decoration:underline;
}
.whiteText{
  color: white;
}
.colside{
  border-right: #c7b6c8 3px solid;
}
a.whiteText{
  color:white;
  font-weight:bold;
  font-size:10px;
}
div.whiteText{

}
a.colside{
  color:white;
}